.financeiro-container {
  padding: 20px;
  background-color: #f4f4f4;
}

.financeiro-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.financeiro-container table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.financeiro-container table th,
.financeiro-container table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.financeiro-container table th {
  background-color: #ffc107;
  color: white;
}

.financeiro-container table td button {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.financeiro-container table td button:hover {
  background-color: #218838;
}
